{% extends "layouts/base.twig" %}
{% block title %}Index{% endblock %}
{% block content %}
    <div class="container">
            <h1>Lobby</h1>
            <h2>Vos parties en cours :</h2>
            {% if list_myGames.lenght == 0 %}
                <p>Aucune partie créer ou rejoint</p>
            {% else %}
                <div class="table-responsive">
                    <table class="table">
                        <thead>
                            <th>Nom</th>
                            <th>Status</th>
                            <th></th>
                        </thead>
                        <tbody>
                        {% for key,value in list_myGames %}
                            <tr>
                                <td>{{ value.name }}</td>
                                <td>{{ value.status}}</td>
                                <td><a href="/games/{{value._id}}">Voir</a></td>
                            </tr>
                        {% endfor %}
                        </tbody>
                    </table>
                </div>
            {% endif %}
            <h2>Rejoindre une partie</h2>
            {% if list_otherGames.lenght == 0 %}
                <p>Aucune partie créer ou rejoint</p>
            {% else %}
                <div class="table-responsive">
                    <table class="table">
                        <thead>
                            <th>Nom</th>
                            <th>Status</th>
                            <th>Nombre de joueurs</th>
                            <th></th>
                        </thead>
                        <tbody>
                        {% for key,value in list_otherGames %}
                            <tr>
                                <td>{{ value.name }}</td>
                                <td>{{ value.status}}</td>
                                <td>{{value.nb_joueurs_actuel}}/{{value.nb_joueurs}}</td>
                                <td><a href="/games/join/{{value._id}}">Rejoindre</a></td>
                            </tr>
                        {% endfor %}
                        </tbody>
                    </table>
                </div>
            {% endif %}
            <h2>Créer une nouvelle partie</h2>
            <form action="/games/new" class="form-inline" method="post">
                <div class="form-group">
                    <label for="game_name">Name</label>
                    <input type="text" class="form-control" id="game_name" name="game_name">
                </div>
                <div class="form-group">
                    <label for="nb_joueurs_game">Nombres de joueurs</label>
                    <input type="number" class="form-control" id="nb_joueurs_game" name="nb_joueurs_game">
                </div>
                <button type="submit" class="btn btn-default">Créer une nouvelle partie</button>
            </form>
    </div>
{% endblock %}
